@import '../Variable.scss';

.MvcView-header {
    margin: 15px 0 17px;
    align-items: center;

    .MvcView-Title {
        color: $ColorText-7;
        font-size: 17px;
        font-weight: 700;
        margin: 0;
    }
}


